Problem Statement: Predict if customer will leave the bank or not

Importing Libiraries and loading the dataset

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import spacy
import re 
import nltk
import keras

In [0]:
# Load the Drive helper and mount
from google.colab import drive
# This will prompt for authorization.
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
dataset = pd.read_csv('drive/My Drive/nlp/Churn_Modellings.csv')

In [0]:
dataset.head(10)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0
5          6    15574012       Chu  ...               0       149756.71      1
6          7    15592531  Bartlett  ...               1        10062.80      0
7          8    15656148    Obinna  ...               0       119346.88      1
8          9    15792365        He  ...               1        74940.50      0
9         10    15592389        H?  ...               1        71725.73      0

[10 rows x 14 columns]

#data Cleaning

In [0]:
dataset = dataset.drop(['RowNumber','CustomerId','Surname'],axis =1 )

In [0]:
temp_Arr = []
for country in dataset.Geography.values:
  if country == 'France':
    temp_Arr.append(0)
  elif country == 'Germany':
    temp_Arr.append(1)
  else:
    temp_Arr.append(2)

In [0]:
dataset['Geography'] = temp_Arr
dataset.head(5)

   CreditScore  Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619          0  Female  ...               1        101348.88       1
1          608          2  Female  ...               1        112542.58       0
2          502          0  Female  ...               0        113931.57       1
3          699          0  Female  ...               0         93826.63       0
4          850          2  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [0]:
from sklearn.preprocessing import LabelEncoder
label_encoder_x1= LabelEncoder()
label_encoder_x1.fit(dataset['Gender'].values)
dataset['Gender'] = label_encoder_x1.transform(dataset['Gender'])

In [0]:
X = dataset.drop('Exited',axis=1)
y = dataset['Exited']

In [0]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

#splitting the data:

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
y_pred= Classifier.predict(X_test)
y_pred= (y_pred>0.5)
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
X_train= sc.fit_transform(X_train)
X_test= sc.fit(X_test)

In [0]:
from tensorflow.python.keras.layers import Dense
from tensorflow.python.keras import Sequential
Classifier= Sequential()
Classifier.add(Dense(6, activation='relu', kernel_initializer='glorot_uniform',input_dim=10))
Classifier.add(Dense(1, activation='relu', kernel_initializer='glorot_uniform'))
Classifier.compile(optimizer= 'adam', loss= 'binary_crossentropy', metrics= ['accuracy'])
Classifier.fit(X_train, y_train, batch_size=10, nb_epoch= 100)

800/800 [==============================] - 1s 1ms/step - loss: 2.5717 - accuracy: 0.7619

In [0]:
from sklearn.metrics import accuracy_score
accuarcy = accuracy_score(y_test, y_pred)

#Accuracy:

In [0]:
accuarcy

0.624

In [0]:
from sklearn.metrics import classification_report

cr= classification_report(y_test,y_pred)
cr

'              precision    recall  f1-score   support\n\n           0       0.81      0.69      0.74      1595\n           1       0.23      0.38      0.29       405\n\n    accuracy                           0.62      2000\n   macro avg       0.52      0.53      0.52      2000\nweighted avg       0.70      0.62      0.65      2000\n'